.redirect-button{
    padding: 1rem 1.5rem!important;
}

.icon-button{
    margin-left: 4rem;
}

@media (max-width: 992px) {
    .redirect-button{
        padding: 0.5rem 0.75rem!important;
    }
    .icon-button{
        margin-left: 2rem;
    };
}